.container {
  display: flex;
  justify-content: center;
}

.controls {
  width: 100%;
  max-width: 12.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
